<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThrowTrack</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/tracker" class="btn btn-default btn-sm">Back to Tracker</a>
        <a href="/strikezonedata" class="btn btn-default btn-sm">Zone Distribution</a>
    </div>

<!--------------------------------------------------PAST SESSIONS----------------------------------------------->
    <div class="row">
        <h1>Past Sessions</h1>

        <!---RESPONSIVE TABLE -->
        <div class="table-responsive small-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Session Name</th>
                        <th>Pitch Count</th>
                        <th>Ball Count</th>
                        <th>Strike Count</th>
                        <!-- <th>Strike Zone Data</th>
                        <th>Session Ended At</th>
                        <th>Timestamp</th> -->    
                    </tr>
                </thead>
                <tbody>
                    
        <!---DISPLAYS SESSION DATA--->                   
                    <% sessions.forEach(session => { %>
                        <tr>
                            <td><%= session.sessionName %></td>
                            <td><%= session.pitchCount %></td>
                            <td><%= session.ballCount %></td>
                            <td><%= session.strikeCount %></td>
                            <!-- <td><%= JSON.stringify(session.strikezoneData) %></td>
                            <td><%= session.sessionEndedAt %></td>
                            <td><%= session.timestamp %></td> -->
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        
    </div>
</div>

<script src="main.js"></script>
</body>
</html>
